@font-face{
  font-family: 'Indie Flower';
    src:url('../fonts/IndieFlower.ttf');
  font-weight:normal;
  font-style: normal;
}

html,body{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    color: rgb(0, 0, 0);
    height: 100%;
}

h2{
  font-size: 36px;
  font-family: "Indie Flower", sans-serif;
  color: black;
  opacity: 0.9;
}

p{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: italic;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: oblique;

}

                             /* Top Navigation */
header {
    background: #ffffff;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    box-shadow: -1px 0px 4px #636b6e;
}

.logo img {
    position: relative;
    float: left;
    margin: 0 auto;
    width: 100px;
    min-width: auto;
    bottom: -5px;
    right: -10px;    
}

.logo img:hover {
    filter: blur(2px);
}

.topnav {
    float:right;
    background-color: #ffffff;
  }
 

.topnav a {
  float:left;
  color: #cf4a5c;
  opacity: 0.6;
  font-family: 'Optima', sans-serif;
  display:block;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover , .dropdown:hover .dropbtn{
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}
                             /*  Hover  - Dropdown */
.dropdown{
  float: left;
  overflow: hidden; 
}

.dropdown .dropbtn{
  cursor:pointer;
  color: #cf4a5c;
  opacity: 0.6;
  font-weight: bold;
  text-transform: uppercase;  
  padding: 14px 16px;
  font-size: 17px;
  background-color: inherit;
  font-family: 'Optima', sans-serif;
  border:none;
  outline:none;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 100;
  
}

.dropdown-content a {
  float:none;
  color: #cf4a5c;
  padding: 12px 16px;  
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: white;
  
}

.dropdown-content a:hover {background-color: #c54d4d}

.dropdown:hover .dropdown-content ,.icon {
    display: block;
}
                              /* Responsive topnav */

@media screen and (max-width: 768px) {
  .topnav  a {display: none;}
  .topnav .dropbtn {display: none;}
  .topnav  a.icon {
    float: none;
    display: block;
  }
  .topnav .icon{
    display: block;
  }
}
                              /* Subheader Background section */

.subheader{
  background-image: url(../images/background.jpg);
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  min-width: 100%;
  height: 100%;
	top: 0;
	left: 0;
  text-align: center;
  
}

.subheader h2 {
  position : relative;
  color: #8a1f1f;
  opacity: 0.8;
  font-size: 5vw;
  font-weight: bold;  
  line-height: 1.25em;
  margin: 0 0 0.5em 0;
  padding: 0;
  top:250px;
  font-family:'Tangerine';
}

.subheader p {
  position: relative;
  font-size: 1.5em;
  font-weight: 900;
  color: #961a1a;
  opacity: 0.6;
  margin-bottom: 1.65em;
  top: 230px;
  font-family: 'Indie Flower';
}

                            /*Responsive subheader home */


@media (max-width: 1280px) {
  
  body {
    width: 100%;
    min-width: 100%;
  }
  .subheader h2{
    top: 44%;
    padding:20px;
  }
  .subheader p{
    top:39%;
    font-size:30px;
    text-align: center;
  }  
}
                         /* Title section : Services , About Us , Blog , Portofolio , Contact */

.title_section h2{
  margin-bottom:40px;
  position: relative;
}

.title_section h2:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 26%;
  width: 13%;
  border-bottom: 4px double #da4040;
}

.title_section h2:after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: 26%;
  width: 13%;
  border-bottom: 4px double #da4040;
}

                        /* Responsive title : Services , About Us , Blog , Portofolio , Contact */

@media (max-width: 768px) {
  .title_section  h2:before {
    left: 15%;
    width: 18%;
  }
  
  .title_section  h2:after  {
    width: 18%;
    right: 15%;
  }
  .title_section h2{
    font-size: 6vw;
  }
}
  
@media (max-width: 360px) {
  .title_section h2:before{
    left: 11%;
    width:15%;
  }
  .title_section h2:after{
    width: 15%;
    right: 10%;
  }
}

                        /* Services*/
  
.service{
  width:100%;
  padding: 50px 0;
  text-align: center;
  overflow: hidden;
  background-color: rgba(251, 255, 250, 0.4);
  height: auto;
  
}

.service p {
  color: #1d282d;
  width: 100%;
  margin: 0 auto;
}

.service ul {
  padding: 20px;
  
}
.service ul li {
  vertical-align: top;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 9px;
  width:31%;
}

.service ul a {
  margin: 0 auto 50px;
  width: 180px;
  height: 180px;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
.service ul .icon1 {
  background-image: url(../images/icon1.png);
}
.service ul .icon2 {
  background-image: url(../images/icon2.png);
}
.service ul .icon3 {
  background-image: url(../images/icon3.png);
}

.service ul a:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

                          /* Responsive services */

  @media (max-width: 768px) {
    
  .service {
    padding:30px 0 30px;
  }
  
  .service  h2{
    left:0%;
  }
  .service  ul li {
    text-align: center;
    width: 97%;
    padding: 20px 0;
    display:block;
  }
  
}

@media (max-width: 360px) {
  .service  ul li {
    text-align: center;
    float: none;
    width: 94%;
    padding: 10px 0;  }
}

                          /* Footer */

footer {
  background-color: #ffffff;
  padding: 30px 0;
  box-shadow: 0px 1px 4px #636b6e;
  text-align: center;
}

small{
  color: #636b6e;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

                        /* Subheader-slider  : About , Portofolio ,Contact ,Blog*/
     
@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
  
  .subheader-slider { overflow: hidden; }
  .subheader-slider figure img { width: 20%; float: left; }  
  .subheader-slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size:0;
    animation: 30s slidy infinite; 
   
  }

                          /* About Us */

.about{
  position: relative;
  background-color: rgb(253, 251, 250);
  padding: 50px 0;
  text-align: center;
}

.inner-flex {
  margin: 0 auto;
  max-width: 70%;
  display: flex; 
  justify-content: space-between;
}

.flex-center img{
  border-radius: 30%;
  box-shadow: 0px 1px 3px #ffbfbf;
}

.flex-left {
  text-align: right;
}

.flex-right {
  text-align: left;
}

.flex-left div:first-child , .flex-right div:first-child{
  padding-top: 3em;
  margin-bottom: 3em;
}

.flex-left p , .flex-right p{
  margin-bottom: 3em;
}

                          /*Responsive about */

@media ( max-width:1280px ){
  .inner-flex {
    flex-direction: column;
  }
  .flex-right,.flex-left{
    text-align: center;
  }
 
}

@media ( max-width:768px ){
  .inner-flex {
    flex-direction:column; 
  }

  .flex-center img{
   width:70%;
  }
}